.side-nav {
	display: none;
    box-shadow: 1px 3px 5px #888888;
}

.under-nav {
	display: none;
	padding-left: 0;
}

.nav-offset {
    height: 65px;
}

.main-body {padding: 0;}

footer#foot {
	padding-left: 32px;
	
}

div.main-body div.main-video {
	background: #000000;
}

.video-nav {
	background: #FFFFFF;
	padding: 10px 5px;
	margin-left: 12px;
}

div.main-body div.video-container {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 40px;
	padding: 0px;
	background: #010101; 
}

div.main-body div.main-video div.video-panel, div.main-body .video-nav {
	box-shadow: 1px 1px 7px #888888;
}

div.main-body div.main-video div.video-panel span.video-name-pn {
	font-size: 30px;
}

div.main-body div.main-video div.video-panel .glyphicon-expand {
	font-size: 30px;
}

div.main-body div.main-video div.video-panel span.video-info {
	display: flex;
	align-items: center;
}

.video-container {
	box-shadow: none;
}

div.main-body div.video-nav li.li-video {
	display: flex;
	flex-direction: row;
}

div.main-body div.video-nav span.video-name-holder {
	display: flex;
	flex-direction: column;
}