.side-nav {
	display: none;
    box-shadow: 1px 0px 20px #888888;
}

.under-nav {
	display: none;
	padding-left: 0;
}

.nav-offset {
    height: 70px;
}

.main-body {padding: 0;}

footer#foot {
	padding-left: 32px;
	
}

div.main-body div.main-video {
	background: transparent;
}

.video-nav {
	background: #FFFFFF;
	padding: 10px 5px;
	margin-left: 12px;
}

div.main-body div.video-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 91%;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
	padding: 0px;
	background: transparent; 
}

div.video-nav > ul.ul-video {
	display: flex;
	flex-direction: column;
    padding-right: 5px;
    padding-left: 5px;
}

div.main-body div.main-video div.video-panel {
	height: 200px;
	background: #FFFFFF;
	margin-top: 5px;
	padding: 20px;
	display: flex;
	flex-direction: column;
}

div.main-body div.main-video div.video-panel, div.main-body .video-nav {
	box-shadow: 1px 1px 7px #888888;
}

div.main-body div.main-video div.video-panel span.video-name-pn {
	font-size: 30px;
}

div.main-body div.main-video div.video-panel .glyphicon-expand {
	font-size: 30px;
}

div.main-body div.main-video div.video-panel span.video-info {
	display: flex;
	align-items: center;
}

.video-container {
	box-shadow: none;
}

div.main-body div.video-nav li.li-video {
	display: flex;
	flex-direction: row;
}

div.main-body div.video-nav span.video-name-holder {
	display: flex;
	flex-direction: column;
}